/* Ocupa toda la pantalla */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: Arial, sans-serif;
    background-color: #ccc; /* Fondo gris */
}

.carousel-container {
    display: flex;
    position: relative; /* Necesario para las posiciones de los botones */
    width: 100vw;
    height: 100vh;
    background-color: #d32f2f; /* Fondo rojo */
}

.logo-container {
    flex: 1;
    background-color: #000000; /* Fondo negro para el logo */
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo {
    width: 80%; /* 80% del contenedor padre */
    height: auto; /* Mantener las proporciones del logo */
    max-height: 80%; /* No sobrepasa el 80% de la altura */
}

.order-container {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #d32f2f; /* Fondo rojo */
}

h1 {
    font-size: 900%; /* Escala de acuerdo al ancho de la pantalla */
    margin: 0;
    margin-bottom: 15%; /* Ajusta el espacio debajo del título */
}

.number-box {
    font-size: 1000%; /* Escala de acuerdo al ancho de la pantalla */
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    animation: palpitar 1s infinite; /* Activa la animación de palpitación constante */
    margin-bottom: 10%; /* Ajusta el espacio debajo del número */
}

/* Animación de palpitación */
@keyframes palpitar {
    0%, 100% {
        transform: scale(2); /* Tamaño normal */
    }
    50% {
        transform: scale(3); /* Tamaño máximo durante la palpitación */
    }
}

/* Estilos para los botones de flecha */
.carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    padding: 0.5%; /* Tamaño de los botones usando porcentajes */
    font-size: 3vw; /* Escala de acuerdo al ancho de la pantalla */
    cursor: pointer;
    transition: background-color 0.3s;
}

.carousel-btn:hover {
    background-color: rgba(255, 255, 255, 0.8);
}

.left-btn {
    left: 1%; /* Posiciona el botón un 2% desde la izquierda */
}

.right-btn {
    right: 1%; /* Posiciona el botón un 2% desde la derecha */
}

/* Hacer que el texto y los elementos se ajusten para pantallas más pequeñas */
@media screen and (max-width: 768px) {
    h1 {
        font-size: 10vw;
    }
    .number-box {
        font-size: 15vw;
    }
    .carousel-btn {
        font-size: 6vw; /* Botones más grandes en pantallas pequeñas */
    }
}
